@import 'settings';
@import 'tools';

.tweet {
	background-color: $tweet_background-color;
	height: 200px;
	margin-bottom: 20px;

	& .tweet__user {
		font-size: em(14px);
		font-weight: bold;
		margin-bottom: 10px;
	}

	& .tweet__text {
		font-size: em(12px);
	}
}
